body {
    margin: 0px;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    background: cornflowerblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

header > nav > a {
    padding: 18px;
    font-size: 23px;
    color: white;
    transition: transform;
}

header > nav > a:hover {
    font-weight: bold;
}

main {
    padding: 20px;
    background: #b1ecff;
}

ol > li {
    font-size: 27px;
}

input {
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-right: 15px;
}

button {
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    border: outset;
    cursor: pointer;
    transition: transform
}

button:active {
    border: inset;
    transform: translateY(2px)
}


